/*
Plant Stylesheet

URL: 			TBA
Created by: 	Foxxyz/Ivo KH Janssen
For:			The Code Dealers
				The Plant System
Site Design by:	The Code Dealers
		
http://codedealers.com

When creating your site, empty this file and start filling it with your own styles!

*/

@import url(http://fonts.googleapis.com/css?family=Dosis|Raleway);

/******************\
| GENERAL STYLES   |
\******************/

* {
	margin: 0;
	padding: 0;
}

	a:link {
		color: #729D6D;
		background-color: inherit;
	}
	
	a:visited {
		color: #888;
		background-color: inherit;
	}
	
	a:hover {
		text-decoration: none;
		color: black;
		background-color: inherit;
	}

body {
	background: #fff;
	color: #797;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
}

code {
	background-color: inherit;
	padding: 0 3px;
	color: #767;
}

fieldset {
	border: none;
	padding: 10px 30px;
}

	form div {
		margin-bottom: .5em;
		clear: both;
		position: relative;
	}

footer {
	padding-top: 1em;
	font-size: .7em;
	color: #ccc;
	background-color: inherit;
	margin-top: 3em;
	margin-left: 30px;
	clear: both;
}

	footer a:link, footer a:visited {
		color: inherit;
	}

	form input, form select {
		border: solid .05em #ccc;
		font-size: 20px;
		padding: 1px 4px;

	}

		form input:hover, form select:hover, form input:focus, form select:focus {
			border-style: inset;
		}

		form input[type=submit] {
			margin-left: 30px;
			font-size: 16px;
			padding: 5px 10px;
			border: 0;
			border-top: solid 1px #fff;
			background: -webkit-linear-gradient(top, #fff, #797);
			background: -moz-linear-gradient(top, #fff, #797);
			border-radius: 6px;
			font-family: Raleway, sans-serif;
		}

			form input[type=submit]:hover {
				background: -webkit-linear-gradient(top, #797, #fff);
				background: -moz-linear-gradient(top, #797, #fff);
				border-top: inset 1px #ccc;
			}

legend {
	display: none;
}

h1 {
	background: url(/core/css/images/plant-logo-small.png) no-repeat top right;
	text-indent: -9999px;
}

h2 {
	font-weight: normal;
	font-family: "Dosis", sans-serif;
	text-transform: lowercase;
	font-size: 60px;
	color: black;
	padding: 2px 30px 10px;
	margin-bottom: 20px;
}

h3 {
	color: black;
	text-transform: lowercase;
	font-size: 26px;
	font-weight: normal;
	padding-left: 30px;
}

	h3 a {
		text-decoration: none;
	}

h4 {
	margin: .5em 0;
	color: black;
	font-weight: normal;
}

h5 {
	font-size: 1em;
}

hr {
	display: none;
}

p {
	font-size: .8em;
	margin-bottom: 1em;
	color: #797;
	background-color: inherit;

	margin-left: 30px;
}

	span.explanation {
		display: block;
		font-size: .7em;
		color: #ccc;
		background-color: inherit;
	}

ul, ol {
	margin-left: 30px;
	padding-left: 30px;
	margin-bottom: 1em;
}

	ol li, ul li {
		font-size: 14px;
	}
	
	ul.changelog {
		padding: 0;
		margin-left: 0;
	}
	
		ul.changelog > li {
			list-style: none;
		}

/******************\
| ID SPECIFICS     |
\******************/

#wrapper {
	width: 700px;
	margin-left: 80px;
	padding-top: 40px;
}

/******************\
| CLASS SPECIFICS  |
\******************/

	p.error, .error p {
		color: #fff;
		background-color: #f44;
		border-radius: 6px;
		padding: 5px 10px;
		box-shadow: 3px 2px 3px #888;
		display: inline-block;
	}

	.error p {
		position: absolute;
		top: -20px;
		left: 200px;
	}

	.install ul {
		list-style: none;
		margin-left: 0;
	}
	
		.install li:before {
			content: '> ';
			color: #000;
			font-weight: bold;
		}
		
	.login input {
		font-size: 26px  
	}
		
	.login label {
		display:none;
	}
