/*
Plant Admin Stylesheet
For the worst browsers on earth

URL: 		Anywhere, anytime
Created by: 	Foxxyz/Ivo KH Janssen
For:		The Code Dealers
		The Plant System
Site Design by:	The Code Dealers
		
http://codedealers.com

*/

/******************\
| GENERAL STYLES   |
\******************/

/******************\
| ID SPECIFICS     |
\******************/
		
/******************\
| CLASS SPECIFICS  |
\******************/