/*
Plant Admin Stylesheet

URL: 		Anywhere, anytime
Created by: 	Foxxyz/Ivo KH Janssen
For:		The Code Dealers
		The Plant System
Site Design by:	The Code Dealers
		
http://www.codedealers.com

*/

/******************\
| GENERAL STYLES   |
\******************/

* {
	margin: 0;
	padding: 0;
}

tr:nth-child(even) {
	color: inherit;
	background-color: #F9F9F9;
	}

a:link, a:visited {
		color: #729D6D;
		background-color: inherit;
		text-decoration: none;
		}
	
	a:hover {
		color: #607452;
		background-color: inherit;
		text-decoration: underline;
	}

body {
	color: #666;
	font-family: Arial, sans-serif;
	padding: 0 2em;
	background: #e8eae5;
	}

		div.error input, div.error select, div.error textarea {
			border: 1px solid #E32114;
			}

		div.error p, fieldset.error p, p.error, p.status {
			background: transparent url(/core/css/images/error.png) no-repeat 0 7px;
			color: #E32114;
			font-size: 14px;
			margin: 0 0 5px;
			min-height: 15px;
			padding: 9px 8px 8px 22px;
			}

fieldset {
	border: none;
	border-top: solid .3em #eee;
	padding: 1.5em 1em;
	margin-bottom: .5em;
	color: inherit;
	background-color: #fff;
}

	fieldset div {
		margin-bottom: 1.5em;
		clear: both;
		}
		
	fieldset div#feature_image_container {
		margin: 10px 0;
		}

	fieldset p {
		clear: both;
		margin: 0;
	}
	
		fieldset.error p {
			margin-top: -1em;
		}
		
	form input[type=checkbox] {
		border-style: none !important;
		font-size: 16px;
		padding: 1px;
		color: inherit;
		background-color: #dcdeda;
		}	
		
	form input[type=submit] {
		margin-left: 18px;
		padding: .2em .7em;
		cursor: pointer;
		font-size: 18px;
		color: #fff;
		background-color: #A3C78B;
		border: 1px solid #96b680;
		}
	
		form input[type=submit]:hover {
			color: #fff;
			background-color: #607452;
			}

	form .submit input {
		margin-top: 1.5em;
		font-size: 14px;
		padding: 5px;
		cursor: pointer;
		}

	form input, form select, form textarea  {
		border: solid 1px #ccc;
		font-size: 14px;
		padding: 4px;
		font-family: Arial, sans-serif;
		color: #565c52;
		background-color: #fff;
		}

		form input:hover, form select:hover, form input:focus, form select:focus {
			border-style: inset;
			}
			
	form input#related_keywords {
		width: 250px;
		font-size: 16px;
		}		
		
label {
	font-size: 14px;
	margin-bottom: 2px;
	padding: 0 3px;
	color: #4d4e4c;
	background-color: inherit;
	}		

legend {
	padding: 0 .2em;
	font-weight: bold;
	font-size: 1.3em;
	}

h1 {	
	font-family:helvetica,arial,sans-serif;
	text-align: center;
	font-weight: normal;
	font-size: 3.2em;
	letter-spacing: -.05em;
	margin: 0.5em auto;
	}

	h1 a:link, h1 a:visited {
		color: #7e8c75;
		background-color: inherit;
		text-decoration: none;
		display: block;
		}

h2 {
	font-size: .7em;
	font-weight: normal;
	margin-bottom: 2em;
	margin-top: -1.5em;
	border: solid .29em #c9e3c7;
	text-align: center;
	padding-bottom: 10px;
	border-top: none;
	background-color: #94c890;
	color: #e9ffe7;
	text-transform: lowercase;
}

h3 {
	background: url(/core/css/images/subnav-bg.png) bottom left repeat-x;
	color: #7E8C75;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	text-transform: lowercase;
	margin-bottom: 1em;
	padding-bottom: 2px;
}

	h3 a {
		text-decoration: none;
	}
	
	.section-actions + h3 {
		margin-top: -30px;
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 15px;
		background: transparent;
	}

h4 {
	padding-bottom: 4px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	color: #3a4335;
	border-bottom: solid 1px #A3C78B;
}

	h4 a:hover {
		text-decoration: none;
	}

h5 {
	font-size: 1em;
}

p {
	font-size: .8em;
	margin-bottom: 1em;
}

	p.error, ul.error {
		margin: 0 0 30px;
		background: #E32114 url(/core/css/images/error-large.png) no-repeat 16px 16px;
		color: #fff;
		font-size: 26px;
		padding: 20px 14px 14px 60px;
		}

	p.status, ul.status {	
		background: #4EB12B url(/core/css/images/status-large.png) no-repeat scroll 16px 16px;
		color: #fff;
		font-size: 26px;
		margin: 0 0 30px;
		padding: 20px 14px 14px 60px;
		}
		
		p.status a, ul.status a {
			color: #b6e952;
			background-color: inherit;
			}
			
			p.status a:hover, ul.status a:hover {
				color: #23590f;
				background-color: inherit;
				}

	span.explanation {
		display: block;
		font-size: .7em;
		margin: 6px 0 0;
		color: #bbb;
		background-color: inherit;
	}
	
table {
	width: 100%;
	border-collapse:collapse;
}

td {
	padding: 14px 6px;
	font-size: .8em;
	}

	td.edit, td.delete {
		padding: 0;
		font-size: .6em;
		width: 50px;
	}	

th {
	font-size: .8em;
	text-align: left;
	padding: 8px 6px;
	color: #fff;
	background-color: #829c71;
	}

	tr.alt {
		background-color: #f9f9f9;
		color: inherit;
	}

ul {
	margin-left: 2em;
	margin-bottom: 1em;
	list-style: square;
	}

	ul li {
		font-size: .8em;
		}

		ul.error li, ul.status li {
			color: white;
			background-color: inherit;
			margin-left: 1em;
		}

/******************\
| ID SPECIFICS     |
\******************/

	#access_list li {
		float: left;
		padding-right: 1em;
	}
	
	#access_list ol {
		list-style: none;
	}

#footer {
	padding-top: 1em;
	border-top: solid .1em #d5d5d5;
	font-size: .7em;
	color: #ccc;
	background-color: inherit;
	margin-top: 3em;
	margin-left: 0;
}

#grouplist {
	padding-top: 30px;
}

	#grouplist li {
		list-style: none;
	}
	
	#grouplist > li {
		padding-bottom: 2em;
	}
	
	#grouplist ol {
		margin-left: 1em;
	}

#navigation {
	clear: both;
	list-style: none;
	margin: 0 0 .5em;
	text-align: center;
	background: url(/core/css/images/nav-bg.png) repeat-x top left;
}

	#navigation:after {
		content: '';
		display: block;
		clear: both;
	}

	#navigation li {
		display: inline;
		font-size: inherit;
		line-height: 28px;
	}

		#navigation li a {
			display: inline;
			background-color: inherit;
			color: #424540;
			padding: 5px 10px;
			border: none;
		}

			#navigation li a:link, #navigation li a:visited {
				text-decoration: none;
				font-size: .9em;
			}

			#navigation li a:hover, #navigation li.active a {
				background-color: #A3C78B;
				color: white;
			}
			
			#navigation a:active {
				
			}
			
#pathlist {
	padding-bottom: 1em;
}

#pathlist, #pathlist ul {
	list-style: none;
	padding-left: 1.5em;
	margin-left: 0;
	margin-bottom: 0;
}
	
	#pathlist li {
		font-size: inherit;
	}
	
	#pathlist ul {
		background: url(/core/css/images/path-descendant.gif) no-repeat .6em .3em;
	}

#plugins {
	list-style: none;
	margin-left: 0;
}

	#plugins li {
		padding-top: 1em;
		border-bottom: solid .08em black;
		font-size: 1em;
		padding: .5em;
		margin-bottom: .5em;
	}

		#plugins li.disabled .activator {
			color: #888;
		}

			#plugins li.disabled .activator:hover, #plugins li.disabled .activator:active {
				border-style: inset;
			}

		#plugins li.enabled .activator {
			border-style: inset;
			background-color: #94C890;
			color: #C9E3C7;
		}

			#plugins li.enabled .activator:active {
				border-style: outset;
			}

	#plugins .activator {
		display: block;
		width: 8em;
		text-align: center;
		padding: .5em 0;
		border: outset .05em #888;
		float: right;
		font-weight: bold;
	}

	#plugins .author, #plugins .date {
		display: block;
		font-size: .7em;
		color: #888;
	}

	#plugins .purpose {
		text-indent: 0;
		margin-left: 0;
		font-size: 1em;
		margin-top: .5em;
	} 	
	
/* ------------------ */		

#useractions {
	list-style: none;
	margin-bottom: 0;
	font-size: .8em;
	margin-right: .3em;
	float: right;
	padding-top: .8em;
}

		#useractions a:link, #useractions a:visited {
			border: none;
		}
		
		#useractions a:hover, #useractions a:active {
			color: black;
			background-color: inherit;
		}

	#useractions li {
		display: inline;
	}
	
		#useractions li:before {
			content: " | ";
		}
	
			#useractions li:first-child:before {
				content: "";
			}
			
#wrapper {
	width: 800px;
	margin: 0 auto 40px;
	padding: 60px 20px 20px;
	background: #fff url(/app/css/images/admin-site-logo.png) no-repeat right 14px;
	color: inherit;
	position: relative;
	border-width: 0 1px 1px 1px;
	border-color: #dcddda;
	border-style: solid;
	}
		
/******************\
| CLASS SPECIFICS  |
\******************/

	.actionlist h5 {
		display: none;
	}
	
	.actionlist li {
		list-style: none;
		font-size: 1em;
		line-height: 1.5em;
	}

		.actionlist li:after {
			content: '';
			display: block;
			clear: both;
		}
	
			.actionlist li:hover > .actions {
				display: block !important;
			}

	.actionlist ul {
		clear: both;
		margin-bottom: 0;
	}
	
	.actionlist .actions {
		display: none;
		margin: 0 !important;
		padding: 0 !important;
		background: none !important;
		float: left;
		clear: none;
		}

		.actionlist .actions li {
			float: left;
			margin-left: .2em;
			padding: 0;
			font-size: inherit;
		}

			.actionlist .actions li:first-child {
				margin-left: 1em;
			}

			.actionlist .actions li a {
				font-size: .6em;
				height: 1.3em;
				border: solid 1px #f3f3f3;
				line-height: .9em;
				}

			.actionlist .actions li a, td.edit a, td.delete a {
				display: block;
				padding: 4px 6px;
				font-family: "Trebuchet MS", Trebuchet, sans-serif;
				text-align: center;
				text-decoration: none;
				color: white;
				background-color: #A3C78B;
				margin: 0 3px 0 0;
				}
			
			.actionlist .actions li a {
				padding: 4px 6px 2px;
				}

				.actionlist .actions li a:hover, td.edit a:hover {
					border-color: white;
					color: white;
					background-color: #607452;
					}
		
				.actionlist .actions .delete a:hover, td.delete a:hover {
					background-color: #DA2626;
					color: white;
					}
				
.alternate {
	background-color: #f8f8f8;
	color: inherit;
}


.checkboxlist {
	list-style: none;
	margin: 0;
}

	.checkboxlist li {
		float: left;
		display: block;
		width: 32%;
	}
					
	.controller table {
		width: 100%;
	}
	
		.controller table ul {
			margin-left: 1em;
			margin-bottom: 0;
		}
	
	.controller td {
		vertical-align: top;
		padding: .2em 5px;
		}
	
.list-item-text {
	display: block;
	float: left;
}

.paginate {
	padding: 35px 0 0;
	border-top: 1px solid #D5D5D5;
	}
	
	.paginate a {
		padding: 1px;
		}
	
		.paginate a:hover {
			color: #fff;
			background-color: #A3C78B;
			text-decoration: none;
			}
	
	.paginate a.active {
		padding: 1px 6px;
		color: #fff;
		background-color: #A3C78B;
		}	
	
	.paginate p {
		margin: 0;
		}
		
.pages {
	clear: both;
	padding: 10px 0 0;
	}
	
.previous {
	float: left;
	width: 200px;
	}
	
.newer {
	float: right;
	text-align: right;
	width: 200px;
	}	
	
	.previous a, .newer a {
		padding: 1px 6px;
		}	

	.path .actionstoggle {
		display: block;
		float: right;
		color: #bbb;
		border: solid 1px #eee;
		padding: 3px;
		cursor: pointer;
	}
		
		.path .actionstoggle:hover {
			color: #000;
			border-style: outset;
		}

.plant {
	float: left;
	margin-bottom: -.3em;
	width: 5.2em;
	height: 2.23em;
}

.quickfilter {
	font-size: 11px;
	text-align: right;
	}

	.quickfilter li, .quickfilter ul {
		display: inline;
		margin-left: 0;
		font-size: 1em;
		}
	
	.quickfilter li {
		border-left: solid 1px #aaa;
		padding-left: 4px;
		}
	
	.quickfilter li:first-child {
		border-left: none;
		}
		
	.radiolist li {
		margin: 0 0 8px;
		}
		
		.radiolist li input {
			border-style: none;
			}

	.radiolist ul {
		list-style: none;
		margin-left: 0;
		}

.section-actions {
	background: url(/core/css/images/subnav-bg.png) bottom left repeat-x;
	padding-bottom: 7px;
}

	.section-actions a {
		font-size: .9em;
		padding: .2em .5em .3em;
		text-decoration: none;
	}

		.section-actions a:hover, .section-actions li.active a {
			background-color: #A3C78B;
			color: #fff;
		}

	.section-actions h4 {
		display: none;
	}
	
	.section-actions li {
		display: inline;
	}


	.section-actions ul {
		margin: 0;
		padding-bottom: 2px;
		text-align: right;
	}
	
.statusmessage {
	padding-left: 10px;
	color: #3CAED8;
	background-color: inherit;
	}	
	
	.textarea label {
		display: block;
	}